name: Hourly Config Aggregator

on:
  schedule:
    - cron: '0 * * * *' # هر ساعت اجرا می‌شود
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyrogram tgcrypto jdatetime

      - name: 1. Health Check
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python checker.py

      - name: 2. Send Hourly Post
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python aggregator.py

      - name: 3. Daily Report (Only at 00:00 Iran)
        if: github.event.schedule == '0 20 * * *' || github.event_name == 'workflow_dispatch'
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python daily_report.py

      - name: 4. Update Sub Link (Proxy Hunter)
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python sub_generator.py

      - name: 5. Save and Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add index.html
          git commit -m "Update Proxy Sub: $(date)" || exit 0
          git push
